[submodule "bruiser/LuaJIT"]
	path = bruiser/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "bruiser/faultreiber"]
	path = bruiser/faultreiber
	url = https://github.com/bloodstalker/faultreiber
[submodule "bruiser/tablegen"]
	path = bruiser/tablegen
	url = https://github.com/bloodstalker/luatablegen
[submodule "cgrep"]
	path = cgrep
	url = https://github.com/bloodstalker/cgrep
